{% extends 'basic.html' %}

{% block title %} A2M {% endblock %}
{% block css %}
.col-md-3
{
display: inline-block;
margin-left:-4px;
}

.carousel-indicators .active {
background-color: blue;

}

.col-md-3 img{

width: 220px;
height: 240px;
padding-right:20px;
}

body .carousel-indicator li{
background-color: blue;
}

body .carousel-indicators{
bottom: 0;
}

body .carousel-control-prev-icon,
body .carousel-control-next-icon{
margin-top:1080px;
background-color: red;
}

.carousel-control-prev,
.carousel-control-next{
top: auto;
bottom: auto;
}
body .no-padding{
padding-left:10px,
padding-right: 10px;
}
{% endblock %}

{% block body %}
{% load static %}


<!---------------Home section--------------------------->
<div id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url('/static/bg.jfif');background-repeat: no-repeat;background-attachment: fixed;
    background-size: cover;">
  <div class="container-fluid container-fluid-max">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white"><b>Let's Shop</b><br></h1>
        <h2 class="text-white">Get Product at home <br>
          You're just one click away</h2>
        <div class="mt-3">
          <a class="btn bg-white text-black" href="" role="button">Shop now</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-----------------items/accessories--------------------->
<section id="items">

  <div class="container">
    <div class="col-12">
      <h1 style="margin-top: 40px;margin-bottom: 20px;"></h1>
    </div>
    <div class="row" style="margin-bottom: 10px;">
      {% for j in cat_prods %}
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-dark"><a href="#electronics">{{j}}</a></button>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>

</section>

<!------------------books slider------------->
<div class="container" id="Accessories">
  {% for product,range, nslides in allprods %}
  <h1 class="my-4">{{product.0.master_category}}</h1>
  <div class=" row">

    <div id="demo{{forloop.counter}}" class=" col carousel slide my-3" data-ride="carousel">

      <!--Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="0" class="active"></li>
        {% for i in range %}

        <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
        {% endfor %}

      </ul>

      <!-- The slideshow-->
      <div class="comtainer carousel-inner no-padding">
        <div class="carousel-item active">

          {% for i in product %}
          <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="card" style="width:18rem;">
              <img width="200" height="220" src="{{ i.image_url }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{i.product_name}}</h5>
                <p class="card-text">{{i.article_type}}</p>
                <p class="card-text">{{i.price}}</p>
                <button id="pr{{i.id}}" class="btn btn-primary cart">add to cart</button>
              </div>
            </div>
          </div>
          {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %}
        </div>
        <div class="carousel-item">
          {% endif %}

          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Left and right controls-->
    <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>


  </div>
  {% endfor %}
</div>
{% endblock %}
{% block js %}
<script>
  console.log('working');
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }
  $('.cart').click(function () {
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] != undefined) {
      cart[idstr] = cart[idstr] + 1;
    }
    else {
      cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  });
  $('#popcart').popover();

  document.getElementById("popcart").setAttribute("data-content", <h5>Cart</h5>)
</script>
{% endblock %}