{% extends 'basic.html' %}

{% block title %} A2M {% endblock %}

{% block body %} 
{% load static %}

  <div class="form-popup" id="myForm">
    <div class="d-flex flex-column text-center " >
      <form action="/action_page.php" class="form-container">
        <h1>Login</h1>
    
        <label for="email"><b>Email :</b></label>
        <input type="text" placeholder="Enter Email" name="email" required><br>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit" class="btn">Login</button>
        <button type="submit" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
  </div>
  <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
  </script>
<!---------------Home section--------------------------->
  <section id="home" class="d-flex align-items-center position-relative vh-100 cover hero" style="background-image:url('/static/img/bg.jfif');background-repeat: no-repeat;background-attachment: fixed;
  background-size: cover;">
    <div class="container-fluid container-fluid-max">
      <div class="row">
        <div class="col-12">
          <h1 class="text-white"><b>Let's Shop</b><br></h1>
          <h2 class="text-white">Get Product at home <br>
            You're just one click away</h2>
          <div class="mt-3">
            <a class="btn bg-white text-black" href="" role="button">Shop now</a>
          </div> 
        </div>
      </div>
    </div>
  </section>
<!-----------------items/accessories--------------------->
  <section id="items">
    <div class="container">
      <div class="col-12"><h1 style="margin-top: 40px;margin-bottom: 20px;">Accessories</h1></div>
      <div class="row" style="margin-bottom: 10px;">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-dark">All</button>
          <button type="button" class="btn btn-dark" ><a href="#books">Books</a></button>
          <button type="button" class="btn btn-dark" ><a href="#clothes">Clothes</a></button>
          <button type="button" class="btn btn-dark" ><a href="#electronics">Electronics</a></button>
        </div>
      </div>
    </div>
  </section>
      <!------------------books slider------------->
  <section id="books">
    <div class="container-sm pt-3">
      <div id="myCarousel1" class="carousel slide" data-ride="carousel">
      
        <!--Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel1" data-slide-to="1"></li>
          <li data-target="#myCarousel1" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow-->
        <div class="col-12"><h1 style="margin-top: 40px;margin-bottom: 20px;">Books</h1></div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row row-eq-height">
                <div class="col-4 "><img width="200" height="220" src="/static/img/m4.jfif" >
                    <p>Engineering Mathematics<br>300 <span>&#8377;</span></p>
                    <button type="button" class="btn btn-primary">add to cart</button>
                </div>
                <div class="col-4 "><img width="200" height="220" src="/static/img/prof_eng.jfif" >
                  <p>Professional English<br>250 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
                </div>
                <div class="col-4 "><img width="200" height="220" src="/static/img/ds.jfif" >
                  <p>Data Structures<br>290 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-eq-height">
              <div class="col-4 "><img width="200" height="220" src="/static/img/eng_phy.jfif" >
                  <p>Engineering Physics<br>265 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
              </div>
              <div class="col-4 "><img width="200" height="220" src="/static/img/digital_mar.jfif" >
                <p>Digital Marketing<br>299 <span>&#8377;</span></p>
                <button type="button" class="btn btn-primary">add to cart</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Left and right controls--> 
        <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel1" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </section>
<!--------dresses-------->
  <section id="clothes">
    <div class="container-sm pt-3">
      <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      
        <!--Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel2" data-slide-to="1"></li>
          <li data-target="#myCarousel2" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow-->
        <div class="col-12"><h1 style="margin-top: 40px;margin-bottom: 20px;">Clothes</h1></div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row row-eq-height">
                <div class="col-4 "><img width="200" height="320" src="/static/img/indian_trad.jpg" >
                    <p>Indian's men ethical clothing<br>700 <span>&#8377;</span></p>
                    <button type="button" class="btn btn-primary">add to cart</button>
                </div>
                <div class="col-4 "><img width="200" height="320" src="/static/img/girl.jpeg" >
                  <p>Women Two Piece Dress Green Dress<br>990 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
                </div>
                <div class="col-4 "><img width="200" height="320" src="/static/img/trad.jpg" >
                  <p>
                    Traditional Indian Outfits For Men<br>1300 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-eq-height">
              <div class="col-4 "><img width="200" height="320" src="/static/img/shirt.jpg_230Wx334H" >
                  <p>Mens Slim Fit Solid Casual Shirt<br>2,300 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
              </div>
              <div class="col-4 "><img width="200" height="320" src="/static/img/gown.webp" >
                <p>Kedar Fab Anarkali Gown<br>3,999 <span>&#8377;</span></p>
                <button type="button" class="btn btn-primary">add to cart</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Left and right controls--> 
        <a class="carousel-control-prev" href="#myCarousel2" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel2" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </section>
  <section id="electronics">
    <div class="container-sm pt-3">
      <div id="myCarousel3" class="carousel slide" data-ride="carousel">
      
        <!--Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel3" data-slide-to="1"></li>
          <li data-target="#myCarousel3" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow-->
        <div class="col-12"><h1 style="margin-top: 40px;margin-bottom: 20px;">Electronics</h1></div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row row-eq-height">
                <div class="col-4 "><img width="200" height="220" src="/static/img/redmi 9.webp" >
                    <p>Xiaomi Redmi 9 Power 128 GB (Electric Green) 4 GB RAM, Dual SIM 4G<br>13,000 <span>&#8377;</span></p>
                    <button type="button" class="btn btn-primary">add to cart</button>
                </div>
                <div class="col-4 "><img width="200" height="220" src="/static/img/induction.webp" >
                  <p>Philips HD4920 1500W Induction Cooktop (Black)<br>2,500 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
                </div>
                <div class="col-4 "><img width="200" height="220" src="/static/img/laptop.webp" >
                  <p>sus
                    Asus VivoBook Ultra K513EA-EJ502TS i5|11th Gen|8GB|512GBSSD<br>59,999 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row row-eq-height">
              <div class="col-4 "><img width="200" height="220" src="/static/img/speakers.webp" >
                  <p>
                    Bosch 7 kg Fully Automatic Front Load Washing Machine 1200 RPM (WAJ24262IN, Silver)<br>33,600 <span>&#8377;</span></p>
                  <button type="button" class="btn btn-primary">add to cart</button>
              </div>
              <div class="col-4 "><img width="200" height="220" src="/static/img/alexa.webp" >
                <p>All-new Fire TV Stick with Alexa Voice Remote (includes TV controls) <br>3,999 <span>&#8377;</span></p>
                <button type="button" class="btn btn-primary">add to cart</button>
              </div>
            </div>
          </div>
        </div>
    
        <!-- Left and right controls--> 
        <a class="carousel-control-prev" href="#myCarousel3" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#myCarousel3" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
  </section>
  {% endblock %}
  <!----------------------------------footer--------------------------->
  <footer class="bg-dark text-white center text-lg-start" style="margin-top: 20px;">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 a2m.in —
      <a class="text-light" href="https://mdbootstrap.com/">---</a>

      <ul class="bd-footer-links">
        <p>follow on us
        <a href="#" class="fa fa-facebook">  </a>
        <a href="#" class="fa fa-twitter">  </a>
        <a href="#" class="fa fa-google">  </a>
        <a href="#" class="fa fa-linkedin">  </a>
        <a href="#" class="fa fa-youtube">  </a>
        <a href="#" class="fa fa-instagram">  </a></p>
      </ul>
    </div>
    <!-- Copyright -->
  </footer>
  
  </div>
</body>
</html>
 

